{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Sign Up</title>
	{% load django_bootstrap5 %}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
	{% bootstrap_messages %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/signup_form.css' %}">
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<!-- FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Fira+Code:wght@400&display=swap" rel="stylesheet">
</head>
<body>
	<div class="form-container">
		<div class="main-message-container">
			<p class="main-message">
				Sign up to enjoy all the features
			</p>
		</div>
		<form class="main-form" action="/accounts/signup/" method="POST">
			{% csrf_token %}
			{% for field in form %}
				<p class="input-label">{{ field.label }}</p>
				<br>
				{{ field }}
				<br>
			{% endfor %}
			<input class="btn btn-primary submit-button" type="submit" value="Sign Up"/>
		</form>
	</div>
</body>
</html>