{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			Create Account
		</title>
	</head>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<body>
		<strong>
			This is the form to create an account on our blog
		</strong>
		<hr>
		<div class="creation-form-container container">
			<form action="{% url 'users-app:create' %}" method="POST">
			{% csrf_token %}
			{% for field in form %}
				<div class="row">
					<div class="col">
						<p class="creation-form-field-label">
							{{ field.label }}
						</p>
					</div>
				</div>
				<!-- <br> -->
				<div class="row">
					<div class="col">
						{{ field }}
					</div>
				</div>
				<!-- <br> -->
			{% endfor %}
				<div class="row">
					<div class="col">
						<input type="submit" value="Create Account" />
					</div>
				</div>
			</form>
		</div>
	</body>
</html>