:root {
  --background: #101823;
  --user-link-hover-color: #7AFF55;
  --post-container-background: #1F2A3B;
}

body {
  background-color: var(--background);
}

div.post-container {
  background-color: var(--post-container-background);
  /* width: 10rem; */
}

a.user-profile-link {
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
  text-decoration: none;
}

a.user-profile-link:visited {
  text-decoration: none;
}

a.user-profile-link:hover {
  text-decoration: none;
  color: var(--user-link-hover-color);
}

a.user-profile-link:active {
  text-decoration: none;
}

p.user-name {
  font-family: 'Inter', sans-serif;
  display: inline;
  color: #C1C1C1;
}

p.post-content {
  font-family: 'Inter', sans-serif;
  display: inline;
  color: #FFFFFF;;
}

hr.content-separator {
  margin: 5px 0 5px 0;
  color: var(--user-link-hover-color);
}
p.post-views {
  font-family: 'Inter', sans-serif;
  display: inline;
  color: #FFFFFF;
}