{% extends "base.html" %}
{% load static %}

{% block head %}
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/users-creation-and-access.css' %}">
  <title>Log In</title>
{% endblock head %}
{% block content %}
  <div class="container-fluid d-flex flex-column align-items-center justify-content-center">
    <div class="card col-lg-4 col-md-5 col-sm-6 col-9">
      <div class="card-body">
        <h1 class="text-center">{{ top_text }}</h1>
        <form action="{{ form_link }}" method="POST">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group mb-4">
              <label class="input-label mb-0" for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
              {{ field }}
            </div>
          {% endfor %}
          <input class="btn w-100 py-2 mb-4" type="submit" value="{{ top_text }}" />
        </form>
        <div class="text-center text-white mb-2">
          <p>{{ bottom_text }}&#160;<a href="{{ link }}">{{ go_to }}</a href="{{ link }}">&#160;here</p>
        </div>
      </div>     
    </div>
  </div>
{% endblock content %}
