{% extends "base.html" %}

{% load static %}

{% block head %}
  <title>
    Index Page
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
{% endblock head %}

{% block content %}

  {% include 'include/nav-bar.html' %}
  <h1>
    This is the index page
  </h1>
  <p>
    You can go to:
  </p>
  <div class="row">
    <div class="col">
      <a class="" href="{% url 'users-app:signup-view' %}">
        Sign Up
      </a>
      <a class="" href="{% url 'users-app:login-view' %}">
        Log In
      </a>
    </div>
  </div>
{% endblock content %}