{% extends 'base.html' %}
{% load static %}

{% block head %}
  <title>
    Sign Up
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
{% endblock head %}

{% block content %}
  <div class="">
    <form action="{% url 'users-app:signup-view' %}" method="POST">
    {% csrf_token %}
    {% for field in form %}
      <label for="{{ field.id_for_label }}">
        {{ field.label_tag }}
      </label>
      <br>
      {{ field }}
      <br>
    {% endfor %}
    <input type="submit" class="btn btn-primary" value="Submit" />
    </form>
  </div>
{% endblock content %}