{% extends 'base.html' %}

{% load static %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Home Index
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-index.css' %}">


  <link rel="stylesheet" type="text/css" href="{% static 'css/nav-bar.css' %}">

{% endblock head %}

{% block content %}
  {% include 'include/nav-bar.html' %}
  <br>
  <p>
    welcome user, this is the home page, here you can see your feed
  </p>
  <a href="{% url 'home-app:logout-view' %}">
    Log Out
  </a>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if there_are_posts %}
    {% for post in queryset %}
      <div class="card post-container">
        <div class="card-body">
          <p class="card-title post-title">
            <a href="">@{{ post.owners_profile.user_account.username }}</a>&nbsp;({{ post.owners_profile.user_account.last_name }}, {{ post.owners_profile.user_account.first_name }})
          </p>
          <p class="card-text post-content">
            {{ post.post_content }}
          </p>
          <p class="card-text">
            Views: {{ post.views }}
          </p>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <script>
      swal({
        title: "No Posts",
        text: "There seem to be no posts, come back later",
        icon: "error",
      });
    </script>
  {% endif %}
{% endblock content %}