{% extends 'base.html' %}

{% load static %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Home Index
  </title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/home-index.css' %}">

  {# Begin fonts block #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
  {# End fonts block#}
{% endblock head %}

{% block content %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% include 'include/nav-bar.html' %}
  {% if there_are_posts %}
    {# Begin code to generate the cards of posts #}
    <div class="container justify-content-center">
      {% for post in data %}
        <div class="card col-md-5 mt-2 post-container">
          <div class="card-body">
            <p class="card-title mb-3 user-name">
              <img src="{% static 'img/default-profile-photo.png' %}" alt="User Photo Profile" width="25" height="25">
              <a href="{% url 'home-app:user-view' username=post.2 %}" class="user-profile-link">
                @{{ post.0 }}
              </a>
              ({{ post.0 }}, {{ post.1 }})
            </p>
            <br>
            <p class="card-text post-content">
              {{ post.3 }}
            </p>
            <hr class="content-separator">
            <p class="post-views">
              Views:&nbsp;{{ post.4 }}
            </p>
          </div>
        </div>
      {% endfor %}
    </div>
    {# End code to generate the cards of posts #}
  {% else %}
    <script>
      swal({
        title: "No Posts",
        text: "There seem to be no posts, come back later",
        icon: "error",
      });
    </script>
  {% endif %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/right-side-bar.js' %}"></script>
{% endblock content %}