{% extends 'base.html' %}

{% load static %}

{% block head %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    Home Index
  </title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
  {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"> {% endcomment %}

{% endblock head %}

{% block content %}
  {% include 'include/nav-bar.html' %}
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  {% if there_are_posts %}
    {% for post in queryset %}
      <div class="card post-container">
        <div class="card-body">
          <p class="card-title post-title">
            {% comment %} <img src="{% static 'img/default-profile-photo.png' %}" width="20" height="20" alt="User Photo Profile"/> {% endcomment %}
            <a href="{% url 'home-app:user-view' username=post.owners_profile.user_account.username %}">
              <img src="{% static 'img/default-profile-photo.png' %}" width="20" height="20" alt="User Photo Profile"/>&nbsp;@{{ post.owners_profile.user_account.username }}</a>&nbsp;
            ({{ post.owners_profile.user_account.last_name }}, {{ post.owners_profile.user_account.first_name }})
          </p>
          <p class="card-text post-content">
            {{ post.post_content }}
          </p>
          <p class="card-text post-views">
            Views: {{ post.views }}
          </p>
        </div>
      </div>
    {% endfor %}

  {% else %}
    <script>
      swal({
        title: "No Posts",
        text: "There seem to be no posts, come back later",
        icon: "error",
      });
    </script>
  {% endif %}
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{% endblock content %}